<%- include("../partials/header") %>

<br />

<div class="container col-md-10">
  <div class="middle">
    <h1><%=resume.name %></h1>
    <p class="heading_resume">
      <%if(resume.link_1){ %> &nbsp &nbsp &nbsp &nbsp &nbsp
      <a href="<%=resume.link_1%>" style="color: blue"><%=resume.hlink_1 %></a>
      <%}%> <%if(resume.link_2){ %> &nbsp &nbsp &nbsp &nbsp &nbsp
      <a href="<%=resume.link_2%>" style="color: blue"> <%=resume.hlink_2 %></a>
      <%}%> <%if(resume.link_3){ %> &nbsp &nbsp &nbsp &nbsp &nbsp
      <a href="<%=resume.link_3%>" style="color: blue"> <%=resume.hlink_3 %></a>
      <%}%> <%if(resume.link_4){ %> &nbsp &nbsp &nbsp &nbsp &nbsp
      <a href="<%=resume.link_4%>" style="color: blue"> <%=resume.hlink_4 %></a>
      <%}%>
    </p>
    <p class="heading_resume">
      <i class="fas fa-university"> &nbsp<%=resume.University_Name %></i>
    </p>
    <p class="heading_resume">
      <i class="fas fa-envelope"> &nbsp <%=resume.email %> &nbsp</i> | &nbsp
      <i class="fas fa-phone-alt"> &nbsp <%=resume.contact %></i>
    </p>
  </div>

  <hr class="hr_head" />

  <h4 class="headings">Education</h4>
  <table class="education">
    <tr>
      <th>Degree Name</th>
      <th>Year Of Passing</th>
      <th>Organization Name</th>
      <th>CGPA</th>
    </tr>
    <tr>
      <td><%=resume.degree_name%></td>
      <td><%=resume.Duration%></td>
      <td><%=resume.University_Name%></td>
      <td><%=resume.CGPA%></td>
    </tr>
    <tr>
      <td><%=resume.board_12%>(Class XII)</td>
      <td><%=resume.pass_12%></td>
      <td><%=resume.school_12%></td>
      <td><%=resume.per_12%></td>
    </tr>
    <tr>
      <td><%=resume.board_10%>(Class X)</td>
      <td><%=resume.pass_10%></td>
      <td><%=resume.school_10%></td>
      <td><%=resume.per_10%></td>
    </tr>
  </table>
  <br />

  <h4 class="headings">Languages and Skill</h4>
  <ul>
    <% if(resume.lang_1){ %>
    <li style="font-size: 20px">
      <strong><%=resume.lang_1 %></strong> <%=resume.lang_2 %>
    </li>
    <% } %> <% if(resume.lang_3){ %>
    <li style="font-size: 20px">
      <strong><%=resume.lang_3 %></strong> <%=resume.lang_4 %>
    </li>
    <% } %> <% if(resume.lang_5){ %>
    <li style="font-size: 20px">
      <strong><%=resume.lang_5 %></strong> <%=resume.lang_6 %>
    </li>
    <% } %> <% if(resume.lang_7){ %>
    <li style="font-size: 20px">
      <strong><%=resume.lang_7 %></strong> <%=resume.lang_8 %>
    </li>
    <% } %>
  </ul>
  <h4 class="headings">Projects</h4>
  <ul style="font-size: 15px">
    <ul>
      <% if(resume.proj_1){ %>
      <li class="proj_heading">
        <%=resume.proj_1 %>
        <a href="<%=resume.plink_1 %>" style="color: black"
          ><i class="fas fa-external-link-square-alt"></i
        ></a>
      </li>
      <li style="list-style-type: none"><%=resume.projd_1 %></li>
      <% } %> <% if(resume.proj_2){ %>
      <li class="proj_heading">
        <%=resume.proj_2 %>
        <a href="<%=resume.plink_2 %>" style="color: black"
          ><i class="fas fa-external-link-square-alt"></i
        ></a>
      </li>
      <li style="list-style-type: none"><%=resume.projd_2 %></li>
      <% } %> <% if(resume.proj_3){ %>
      <li class="proj_heading">
        <%=resume.proj_3%>
        <a href="<%=resume.plink_3 %>" style="color: black"
          ><i class="fas fa-external-link-square-alt"></i
        ></a>
      </li>
      <li style="list-style-type: none"><%=resume.projd_3 %></li>
      <% } %>
    </ul>
  </ul>
  <br />

  <h4 class="headings">Achievements</h4>

  <ul>
    <% if(resume.ach_1){ %>
    <li><%=resume.ach_1 %></li>
    <% } %> <% if(resume.ach_2){ %>
    <li><%=resume.ach_2 %></li>
    <% } %> <% if(resume.ach_3){ %>
    <li><%=resume.ach_3 %></li>
    <% } %> <% if(resume.ach_4){ %>
    <li><%=resume.ach_4 %></li>
    <% } %> <% if(resume.ach_5){ %>
    <li><%=resume.ach_5 %></li>
    <% } %>
  </ul>
  <br />
  <h4 class="headings">Hobbies</h4>
  <ul>
    <% if(resume.hob_1){ %>
    <li><%=resume.hob_1 %></li>
    <% } %> <% if(resume.hob_2){ %>
    <li><%=resume.hob_2 %></li>
    <% } %> <% if(resume.hob_3){ %>
    <li><%=resume.hob_3 %></li>
    <% } %>
  </ul>

  <br />
  <h5>
    I hereby declare that the details furnished above are true and correct to
    the best of my knowledge and belief.
  </h5>
  <br />
  <a class="btn btn-md btn-success" href="/resume"
    ><i class="fa fa-arrow-left"></i> &nbsp Go Back</a
  >

  <a class="btn btn-md btn-primary" href="/resume/normal/<%= resume._id%>/edit">
    <i class="fas fa-edit"></i> &nbsp Edit Resume</a
  >

  <button class="btn btn-md btn-danger">
    <i class="fa fa-download"></i>
    <a href="/resume/normal/<%= resume._id%>/download" class="makewhite"
      >Download Preview</a
    >
  </button>
  <button class="btn btn-md btn-dark">
    <a href="/resume/pro/<%= resume._id%>" class="makewhite"
      ><i class="fa fa-code-branch"></i> &nbsp Pro Version</a
    >
  </button>
  <br />
  <br />
  <form action="/resume/normal/<%=resume._id %>?_method=DELETE" method="POST">
    <button class="btn btn-md btn-danger">
      <i class="fa fa-trash"></i> &nbsp Delete
    </button>
  </form>
  <br />
  <br />
</div>

<%- include("../partials/footer") %>
